CI_ENVIRONMENT=production
APP_PORT=9001
APP_BASE_URL=http://localhost:9001/

DB_HOSTNAME=db
DB_DATABASE=team_mgr
DB_USERNAME=team_mgr
DB_PASSWORD=replace-with-a-local-password
DB_DRIVER=MySQLi
HOST_DB_PORT=3306
MYSQL_ROOT_PASSWORD=replace-with-a-local-root-password

app.baseURL='http://localhost:9001/'
app.indexPage=''
encryption.key=replace-with-a-local-encryption-key
